@import "~bootstrap/scss/bootstrap";
$primary-color: #277582;
$background-color: #F2FFFD;
body {
  margin: 0;
  background-color:#eefffdba;
  font-family: 'Source Sans Pro';
}
button {
  background-color: $primary-color;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
input[type=submit] {
  background-color: $primary-color;
  color: white;
  padding: 10px 10px ;
  margin: 0px 0px 8px 0px;
  border: none;
  cursor: pointer;

}
h2{
  text-align: center;
  color: #277582;
  padding: 15px;
}
h3{
  color: #277582;
}
thead,tr {
  //border: 2px solid #A7D094;
  
  thead,th{
    background-color: $primary-color;
    color: #F7FAFA;
  }
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header{
    display: flex;
    justify-content: center;

    background: #277582;

    font-size: 2rem;
    color: white;
    #title {
      margin: 10px 0;
    }
  }

  footer {
    display: flex;
    justify-content: center;

    background: black;

    color: white;
  }
  #sidebar-layout {
    flex: 1;
    display: flex;
    flex-direction: row;

  }
  #main-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
}

#profile {
  #user {
    padding: 10px 50px;
  }

  #change-icon {
    b {
      padding: 10px;
    }
  
    #current-icon {
      height: 150px;
      width: 150px;

      border-radius: 50%;
    }

    #select-icon {
      img {
        height: 100px;
        width: 100px;
        margin: 20px 5px;
  
        border-radius: 50%;
      }
    }
  }

  #change-pw {
    b {
      padding: 10px;
    }
    input {
      width: 90%;
    }
    button {
      margin: 0 1em;
      float: right;
    }
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  
  background: $primary-color;
  color: #FFFFFF;

  max-width: 20vh;
  width: auto;

  #expand-button {
    all: unset;

    display: flex;
    justify-content: flex-end;
    width: auto;

    cursor: pointer;

    svg {
      margin: 3px 5px;
      font-size: 150%;
    }
  }
  #sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    
    #profile-section {
      margin: 20px 10px;
      img {
        min-height: 100px;
        min-width: 100px;
        height: 180px;
        width: 180px;
  
        border-radius: 50%;
      }
      div {
        text-align: center;
        font-size: 125%;
        margin: 10px 0;
      }
    }
    #nav-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 50px 0;

      a {
        font-size: 125%;
        margin: 20px 10px;

        color: #FFFFFF;
        text-decoration: none;

        &:hover {
          font-weight: bolder;
        }
      }
    }
    #log-out-button {
      all: unset;

      background: #41B6BF;
      width: 50%;

      text-align: center;

      padding: 3px 5px;
      margin: auto 10px 30px 10px;
      cursor: pointer;
    }
  }
}
#course-browsing {
  display: flex;
  flex-direction: row;

  color: $primary-color;

  margin: auto;
  flex-grow: 1;
  #filter-wrap {
    height: 80vh;
    overflow-y: scroll;
    margin: auto 3vw;
  }
  
  #filter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0 3vw;
    #starting-time-filter {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 2vh 0;
      #checkbox-container {
        column-count: 2;

        #checkbox {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 1px 0;
        }
      }
    }
    #department-filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      #checkbox-container {
        overflow-y: auto;
        max-height: 60vh;

        padding: 0 1vw;
        #checkbox {
          text-align: center;
          display: flex;
          align-items: center;
  
          padding: 1px 0;
        }
      }
    }
    input {
      margin: 0 0.5em;
    }
    #filter-header {
      padding: 0 2px;
      text-align: center;
      margin-bottom: 5px;
    }
  }
  #table-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #search-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      div {
        font-size: 1.4em;
        margin: 0 1vw;
      }

      input {
        flex: 1;
        border: 1px solid $primary-color;
        
        padding: 1px 5px;
        outline: none;
      }
    }
    #toggle-button-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      
      padding: 0 2vw;
      margin: 2vh 0;
    }
    #table-container {
      flex: 1;
      max-height: 70vh;
      overflow-y:scroll;

      #course-table {
        border: 2px solid #A7D094;
        width: 60vw;

        thead {
          position: sticky;
          top: 0;
          
          th {
            padding: 0.5em 1em;
            text-align: center;
            border: 2px 0 solid #A7D094;
            background-clip: padding-box;
          }
          
        }
        tbody {
          color: black;
          tr {
            border: 2px solid #A7D094;
            text-align: center;
            td {
              padding: 0 10px;
            }
            .link {
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  #filter-header {
    border-bottom: 1px solid $primary-color;
    font-size: 1.4em;
  }
  input {
    margin: auto 0.2em;

  }
}

#login, #signUp {

  .container {
    /* Center the image and position the close button */
    width: 70%;
    //overflow: hidden;
    margin: auto;
    margin: 20 20 0 450px;
    padding: 80px;
    background: #c7e2dd;
    border-radius: 15px ;
    label{
      color: #08362e;
      font-size: 17px;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 3px;
      padding-left: 8px;
    }
    
    /* Set a style for all buttons */
    // button {
    //   background-color: #04AA6D;
    //   color: white;
    //   padding: 14px 20px;
    //   margin: 8px 0;
    //   border: none;
    //   cursor: pointer;
    //   width: 100%;
    // }
  
  }
}

#full-page-tab{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto; 

  .tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #277582;

    .active {
      background-color: #F2FFFD;
      color: black;
    }
  }
  
  .tab-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 100%; /* set the width of the tab content container */
      padding: 20px;
    }
  }

}

#homepage-course{
  display: flex;
  flex-direction: column;
  height: 100%;

  #homepage-course-up{
    display: flex;
    flex-direction: row;

    #homepage-course-upperleft{
      flex: 2;
    }
  
    #homepage-course-upperright{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      text-align: center;
    }
  
    #swap-container{
      background-color: #277582;
      color: white;
      height:100%;
      justify-content: center;  
      padding: 30px 0 0 0; 

      select {
        width: 75%;
        height: 10%;
      }

      option{
        text-align: center;
      }

    }
  }
  
  #homepage-table{
    border: 2px solid #A7D094;
    width: 100%;

    thead {
      position: sticky;
      top: 0;
      
      th {
        padding: 0.5em 1em;
        text-align: center;
        border: 2px 0 solid #A7D094;
        background-clip: padding-box;
      }
      
    }
    tbody {
      color: black;
      tr {
        border: 2px solid #A7D094;
        text-align: center;
        td {
          padding: 0 10px;
        }
      }
    }
  }
}

// for all tables
*{
  box-sizing: border-box;

  // table,th,td{
  //   th{

  //     background-color:#04AA6D;
 
  //   }
  //   tr:hover{
  //     background-color: #277582;
  //   }
  //   th:hover{
  //     background-color: #277582;
  //     position: sticky;
  //   }
  // }
}

#course-info,#comment-info {
  box-sizing: border-box;

  table,th,td{
    padding: 5px;
    width: 100%;
    border: 1px solid;
    th{
      width:20%;
      position: sticky; //for scroll bar
      top:0px;
    }
    tr:hover{
      background-color: #277582;
    }
    th:hover{
      background-color: #277582;
      position: sticky;
    }
}
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  //flex: 1;
  #lecture-section {
    margin-left: 5px;
    margin-right: 50px;
    flex: 0.9;

 //   flex: 1 5;

  }
  #tutorial-button {
      flex: 0.12;
    }
  #tutorial-section {
    flex: 0.9;
    width: 50vw;
    #tutorial-all-heading{
      display: flex;
      flex-direction: row;
      #tutorial-header{
        flex:3;  
      }
      #shopping-cart-button{
        flex:1;  
      }
    }
  }
  #comment-section{
    margin-left: 5px;
    flex: 0.9;
    height: 150px;
    overflow-y: scroll;
    text-align: left;
  }
  #comment-input{
    flex:1;
  }

}

#admin-user {
  #left{
    width: 50%;
  }
  #right{
    width: 50%;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  table,th,td{
    table{
    width: 100%;
    border: 2px solid #A7D094;
    }
    th{
      width:20%;
      position: sticky; //for scroll bar
      top:0px;
    }
    tr:hover{
      background-color: #277582;
    }
    th:hover{
      background-color: #277582;
      position: sticky;
    }
  }
  display: flex;
  // flex-direction: row;
  // margin-right: 50px;
  #userForm{
    background-color:#277582;
    border: white;
    border: solid;
    color: white;
    button{
      background-color:white;
      color:#277582;
    }
  }

  #usertable{
    border: 2px solid #A7D094;
  }
}

#admin-course{
  #left{
    width: 50%;
  }
  #right{
    width: 50%;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
}

#button-placement{
  //display: flex;
  //flex-direction:row;
  flex:1;
  margin-right: 2px;

}
#text-box{

  height: 100px;
  width: 100%;
  font-size: 10pt;
  text-align:justify;
} 
#submit-button{
margin-right: 0px;
margin-left: 400px;
}