$primary-color: #277582;
body {
  margin: 0;
  background-color:#eefffdba;
  font-family: 'Source Sans Pro';
}
button:hover {
  opacity: 0.8;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header{
    display: flex;
    justify-content: center;

    background: #277582;

    font-size: 2rem;
    color: white;
    #title {
      margin: 10px 0;
    }
  }

  footer {
    display: flex;
    justify-content: center;

    background: black;

    color: white;
  }
  #sidebar-layout {
    flex: 1;
    display: flex;
    flex-direction: row;

  }
  #main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  
  background: $primary-color;
  color: #FFFFFF;

  max-width: 20vh;
  width: auto;

  #expand-button {
    all: unset;

    display: flex;
    justify-content: flex-end;
    width: auto;

    cursor: pointer;

    svg {
      margin: 3px 5px;
      font-size: 150%;
    }
  }
  #sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    
    #profile-section {
      margin: 20px 10px;
      img {
        min-height: 100px;
        min-width: 100px;
        height: 180px;
        width: 180px;
  
        border-radius: 50%;
      }
      div {
        text-align: center;
        font-size: 125%;
        margin: 10px 0;
      }
    }
    #nav-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 50px 0;

      a {
        font-size: 125%;
        margin: 20px 10px;

        color: #FFFFFF;
        text-decoration: none;

        &:hover {
          font-weight: bolder;
        }
      }
    }
    #log-out-button {
      all: unset;

      background: #41B6BF;
      width: 50%;

      text-align: center;

      padding: 3px 5px;
      margin: auto 10px 30px 10px;
      cursor: pointer;
    }
  }
}
#course-browsing {
  display: flex;
  flex-direction: row;

  flex: 1;
  color: $primary-color;

  #filter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    padding: 20px 0;
    margin: 2em 4em;
    #starting-time-filter {
      display: flex;
      flex-direction: column;
      #checkbox-container {
        column-count: 2;

        margin: 0.5em 0;
        #checkbox {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 2px 0;
        }
      }
    }
    #department-filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      #checkbox-container {
        overflow: auto;
        #checkbox {
          text-align: center;
          display: flex;
          align-items: center;
  
          padding: 2px 0;
        }
      }
    }
  }
  #table-panel {
    flex: 1;
    #search-bar {
      height: 500px;
    }
  }
  h3 {
    padding: 0 5px;
    border-bottom: 1px solid $primary-color;
  }
  input {
    margin: auto 5px;

  }
}

h2{
  text-align: center;
  color: #277582;
  padding: 20px;
}
.container {
  /* Center the image and position the close button */
  width: 70%;
  //overflow: hidden;
  margin: auto;
  margin: 20 20 0 450px;
  padding: 80px;
  background: #c7e2dd;
  border-radius: 15px ;
  label{
    color: #08362e;
    font-size: 17px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}
//for all tables
*{
  box-sizing: border-box;
  table,th,td{
    th{

      background-color:#04AA6D;
 
    }
    tr:hover{
      background-color: #277582;
    }
    th:hover{
      background-color: #277582;
      position: sticky;
    }
  }
}

#course-info {
  box-sizing: border-box;
  table,th,td{
    padding: 5px;
    width: 100%;
    border: 1px solid;
    th{
      width:20%;
      background-color:#04AA6D;
      position: sticky; //for scroll bar
      top:0px;
    }
    tr:hover{
      background-color: #277582;
    }
    th:hover{
      background-color: #277582;
      position: sticky;
    }
}
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  //flex: 1;
  #lecture-table {
    margin-left: 5px;
    margin-right: 50px;
    flex: 0.9;

 //   flex: 1 5;

  }
  #tutorial-button {
      flex: 0.12;
    }
  #tutorial-table {
    flex: 0.9;
    
  }
  #comment-table{
    margin-left: 5px;
    flex: 0.9;
    height: 130px;
    overflow-y: scroll;
  }
  #comment-input{
    flex:0.9;

  }

}
#button-placement{
  //display: flex;
  //flex-direction:row;
  flex:1;
  margin-right: 2px;

}
#text-box{

  height: 100px;
  width: 100%;
  font-size: 10pt;
  text-align:justify;


} 
#submit-button{
margin-right: 0px;
margin-left: 400px;
}
#halfable{
  box-sizing: border-box;
}
.row{
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
  padding: 5px;
}
.column{
  flex: 50%;
  padding: 5px;
}